{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

{% if latest_menu_list %}
<table class="table table-hover">
	<thead>
		<tr>
			<td>店家名稱</td>
			<td>簡介</td>
			<td>訂購資訊</td>
			<td>關注度</td>
			<td>推薦</td>
		</tr>
	</thead>
	<tbody>
	{% for menu in latest_menu_list %}
	<tr>
		<td><a href="{% url 'menu:detail' menu.id %}">{{ menu.store_name }} </a></td>
		<td> {{ menu.misc }} </td>
		<td>{{menu.order_desc}}</td>
		<td> {{ menu.tickets }}票 </td>
		<td>
			{% if user not in menu.vote_list %}
			<a href="{% url 'menu:vote' menu.id %}" class='btn btn-primary'>推薦</a>
			{% else %}
			<button type="button" class="btn btn-primary" disabled="disabled">已推薦</button>
			{% endif %}
		</td>
	</tr>
	</tbody>
	{% endfor %}
</table>

{% else %}
<p>No Menu are available.</p>
{% endif %}

{% endblock %}
